numpy==1.23.5
opencv-python
opencv-contrib-python
ultralytics
paddlepaddle-gpu>=2.4.2; sys_platform == 'win32'  # Если есть GPU NVIDIA
# paddlepaddle>=2.4.2; sys_platform != 'win32'    # Раскомментировать, если нет GPU
paddleocr>=2.6.0
shapely
pyclipper
Pillow